<div class="container my-3">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                <i class="fas fa-info-circle"></i> {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>