{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="row">
        {% include 'components/_admin_navigation.html.twig' %}
        <div class="col-12 col-md-9">
            <div class="row mb-5">
                <div class="col col-md-8">
                    <h2>Izveidot jaunu gramatu</h2>
                </div>
                <div class="col col-md-4 d-flex">
                    <div class="ml-auto">
                        <a href="{{ path('admin_book_list') }}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Atpakaļ</a>
                    </div>
                </div>
            </div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}